<div class="histogram-bar-container" data-zone="{{zoneId}}">
    <div class="histogram-bar {{zoneColor}}" style="height: 0%;">
        <div class="bar-value">0%</div>
    </div>
    <div class="zone-label">
        <div class="zone-name">Zone {{zoneId}}</div>
        <div class="zone-time">00:00</div>
        <div class="zone-range" id="analyticsZone{{zoneId}}Range">{{zoneRange}}</div>
    </div>
</div>